@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,900;1,700&family=Nunito:wght@300;400&family=Orbitron:wght@400;600;900&family=Oswald:wght@700&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Raleway:wght@200;300;400;500;600;700;800;900&family=Righteous&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}
body {
  background-color: #3498db;
  padding: 5rem 10rem;
}
.container {
  min-width: 20rem;
  width: 70vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container h1 {
  font-size: 5rem;
}
.container .posts {
  margin-top: 5rem;
  background: aliceblue;
  padding: 2rem 5rem;
  border-radius: 1rem;
  box-shadow: 0 2rem 2rem -1.7rem rgba(0, 0, 0, 0.3);
}

.post-id {
  width: 5rem;
  height: 5rem;
  background-color: #2980db;
  color: aliceblue;
  display: grid;
  place-items: center;
  font-size: 2rem;
}
.title {
  font-size: 2.5rem;
  margin: 2rem 0 1rem 0;
  text-transform: capitalize;
}

.post-info {
  font-size: 1.7rem;
}
